[submodule "tools/html2latex"]
	path = tools/html2latex
	url = https://github.com/daniel-j/html2latex
[submodule "tools/novel"]
	path = tools/novel
	url = https://github.com/daniel-j/novel
[submodule "tools/impnattypo"]
	path = tools/impnattypo
	url = https://github.com/raphink/impnattypo.git
