
/* ADOBE GARAMOND PRO */
/*
@font-face {
	font-family: "Adobe Garamond Pro";
	font-weight: normal;
	font-style: normal;
	src: url(../Fonts/AdobeGaramondPro-Regular.otf);
}
@font-face {
	font-family: "Adobe Garamond Pro";
	font-weight: normal;
	font-style: italic;
	src: url(../Fonts/AdobeGaramondPro-Italic.otf);
}
@font-face {
	font-family: "Adobe Garamond Pro";
	font-weight: bold;
	font-style: normal;
	src: url(../Fonts/AdobeGaramondPro-Semibold.otf);
}
@font-face {
	font-family: "Adobe Garamond Pro";
	font-weight: bold;
	font-style: italic;
	src: url(../Fonts/AdobeGaramondPro-SemiboldItalic.otf);
}
*/
